rpc:
    threads: 0  # equal to the number of CPUs
    address: 127.0.0.1
    port: 39172

psm:
    machine_service:
        request_queue_size: 10000
    journal_service:
        request_queue_size: 10000
        batch_size: 10000
    snapshot_service:
        snapshot_interval: 1000000
        batch_size: 100000000

journal_storage:
    path: ./journal
    file_size_soft_limit: 100000000

snapshot_storage:
    path: ./snapshots

logging:
    buffer_size: 1000000
    modules:
        - ray
        - panic
    targets:
      - target:
          type: file
          path: ./rayd.debug.log
        level: debug

      - target:
          type: stderr
        level: info

metrics:
    enable: true
    address: 127.0.0.1
    port: 40000
