rpc:
    threads: 0  # equal to the number of CPUs
    address: 127.0.0.1
    port: 39172

psm:
    machine_service:
        request_queue_size: 10000
        mutation_queue_size: 10000
    log_service:
        request_queue_size: 10000
        batch_size: 100
    snapshot_service:
        snapshot_interval: 10000
        batch_size: 100000

mutation_log:
    path: ./rayd-log.bin

snapshot_storage:
    path: ./snapshots

logging:
    - target:
        type: file
        path: ./rayd.debug.log
      level: debug

    - target:
        type: stderr
      level: info
