[package]
name = "ray"
version = "0.1.0"
authors = ["Sergei Fomin <sergio-dna@yandex.ru>"]
edition = "2018"

[[bin]]
name = "rayd"
path = "bin/server.rs"

[[bin]]
name = "ray"
path = "bin/client.rs"

[dependencies]
bincode = "1.2"
byte_string = "1.0"
bytes = "0.4"
clap = "2.33"
futures = "0.3"
prost = "0.5"
tokio = { version = "0.2", features = ["macros"] }
tonic = "0.1.0-beta.1"

[build-dependencies]
tonic-build = "0.1.0-beta.1"
